<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h1> Eashan Joshi</h1>
                            <h4>Data & Software </h4>
                            <p>As a Software Engineer and Data Scientist with 2 years of experience, I have led projects that reduced costs by $300,000 and improved data accuracy by 15%. I developed predictive models with 95% accuracy and enhanced AI response relevance by 30%. My expertise spans Python, SQL, Apache Spark, and .NET, with a strong focus on delivering impactful solutions.</p>
                            <p>I also excel in communicating technical insights to stakeholders, bridging the gap between complex analysis and business needs. Let’s connect to discuss how I can contribute to your data-driven objectives.</p>
                        
                                
                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <!--<li class="list-inline-item"><a href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                                    <li class="list-inline-item"><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    
                                    <!--<li class="list-inline-item"><a href="{{site.instagram_url}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
                                    <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

                                </ul>
                                <a href="/Eashan-Joshi-CV.pdf" class="home-cv-btn btn btn-link float-right">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-img">
                   
                            <img class="img-fluid" src="{{'/assets/images/about_main_pic.jpg' | relative_url}}" alt="author" class="img-fluid">                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About  -->