<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h1> Eashan Joshi</h1>
                            <h4>Software Engineer</h4>
                            <p>As a Full Stack Software Engineer, I specialize in designing and building scalable applications and developing end-to-end software solutions. I have led projects that reduced costs by $300,000, improved data accuracy by 15%, and enhanced system performance through feature-rich applications. My experience includes creating advanced software systems, implementing APIs, and integrating machine learning models to add intelligent features.</p> 
                            <p>In addition to professional projects, I’ve developed side projects that demonstrate my ability to create innovative software solutions from the ground up. With expertise in Python, SQL, .NET, and Apache Spark, I bring a strong focus on software engineering while leveraging my knowledge of AI and machine learning to deliver impactful results. Let’s connect to discuss how I can contribute to building and optimizing your software systems.</p>
                        
                
                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <!--<li class="list-inline-item"><a href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/eashanjoshi/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/EashanJoshi"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    
                                    <!--<li class="list-inline-item"><a href="{{site.instagram_url}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
                                    <!--<li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->

                                </ul>
                                <a href="/Eashan-Joshi-CV.pdf" class="home-cv-btn btn btn-link float-right">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-img">
                   
                            <img class="img-fluid" src="{{'/assets/images/about_main_pic.jpg' | relative_url}}" alt="author" class="img-fluid">                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About  -->