
        <!-- Start Portfolio ===================================-->
<section class="full-page pd-0 clearfix" id="portfolio">
    <div class="portfolio">
        <div class="container-fluid">
            <div class="portfolio-wrapper text-center">
                <div class="section-title">
                    <!--<div class="border-center"></div>-->
                    <h2>view my projects</h2>
                    <div class="border-center"></div>
                </div>
                <div class="row">
                    {% for projects_data in site.data.projects  %}
                    <!--<div class="col-lg-4 col-md-6">-->   

                        <div class="skills-box wow fadeIn text-center" onclick="window.open('{{projects_data.link}}', '_blank')">
                            <h5>{{projects_data.title}}</h5>
                            <p>{{projects_data.tech}}</p>
                            <p>{{projects_data.desc}}</p>
                            <div class="skills-overlay">
                            <a href="{{projects_data.link}}" class="project-link-btn" target="_blank">View project on GitHub</a>
                            </div>    
                        </div>
                    <!--</div>-->
                    {% endfor %}
                </div>
                

                </div>
            </div>
        </div>
    
</section>
<!-- End Portfolio ===================================-->

<!-- PROJECT 1 
                    <div class="portfolio-item">
                        <div class="portflio-item-wrap wow fadeIn">   
                            <a href="{{'/assets/images/DCNN.png' | relative_url}}" data-lightbox="roadtrip">
                                <img src="{{'/assets/images/DCNN.png' | relative_url}}" alt="portfolio image" />
                                <div class="portfolio-overlay">
                                    <img src="{{'/assets/images/portflio-image-hover.png' | relative_url}}" alt="portfolio image hover"/>
                                    <a href="https://github.com/EashanJoshi/Image-Classification-DCNN" class="project-link-btn" target="_blank">View project on GitHub</a>
                                    
                                </div>
                                <div class="project-title">Multiclass Image Classification Using Deep Convolutional Neural Network</div>
                            </a>
                        </div>
                    </div> -->

                    <!-- PROJECT 2
                    <div class="portfolio-item">
                        <div class="portflio-item-wrap wow fadeIn">
                            <a href="{{'/assets/images/portfolio-img2.jpg' | relative_url}}" data-lightbox="roadtrip">
                                <img src="{{'/assets/images/portfolio-img2.jpg' | relative_url}}" alt="portfolio image" />
                                <div class="portfolio-overlay">
                                    <a href="https://github.com/EashanJoshi/Image-Classification-DCNN" class="project-link-btn" target="_blank">View project on GitHub</a>
                                </div>
                            </a>
                        </div>
                    </div>-->